<!DOCTYPE html>
<html>
<head>
  <title>Amol Bajpai - Python Developer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    .resume-section {
      margin-bottom: 40px;
    }
  </style>
  <link rel="stylesheet" href="style.css">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Amol Bajpai</h1>
        <h3>Python Developer</h3>
        <p>Python Developer offering 5+ years of extensive experience and exceptional analytical and critical thinking skills. Delivers a proactive approach, great work ethic, and the ability to function well in fast-paced/deadline-driven team environments.</p>
        <div class="resume-section">
          <h2>Experience</h2>
          <div class="card">
            <div class="card-header">
              <h3 class="mb-0">NatWest Group, Gurugram, HR</h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">Software Engineer</h5>
              <p class="card-text">June 2023 - Present</p>
              <ul>
                <!-- <li>Experience details here</li> -->
              </ul>
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-header">
              <h3 class="mb-0">Ericsson India Global Services Private Limited, Noida, UP</h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">Automation Engineer (Python Developer)</h5>
              <p class="card-text">March 2022 - June 2023</p>
              <ul>
                <li>Design and develop automation scripts and tools using Python to improve efficiency and reduce manual intervention in network operations and maintenance.</li>
                <li>Collaborate with network engineers and other teams to identify areas where automation can be implemented and to gather requirements for automation solutions.</li>
                <li>Develop and maintain automation tools to validate network configurations and performance.</li>
                <li>Troubleshoot and debug automation scripts and tools as needed.</li>
                <li>Document the automation process and provide training to other team members as needed.</li>
                <li>Continuously monitor the performance of the automation scripts and tools and make improvements as necessary.</li>
                <li>Participate in an on-call rotation to provide support outside of regular business hours.</li>
              </ul>
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-header">
              <h3 class="mb-0">Chetu India Private Limited, Noida, UP</h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">Software Engineer (Python)</h5>
              <p class="card-text">July 2021 - February 2022</p>
              <ul>
                <li>Design and develop web applications using the Django web framework and Python programming language.</li>
                <li>Collaborate with other developers and stakeholders to gather requirements and design solutions for web projects.</li>
                <li>Write clean, efficient, and well-documented code that follows best practices and adheres to coding standards.</li>
                <li>Use version control systems (e.g., Git and SVN) to manage and track changes to code.</li>
                <li>Use Django's built-in ORM to interact with databases, such as PostgreSQL or MySQL.</li>
                <li>Implement and consume RESTful web services and APIs.</li>
                <li>Participate in code reviews and provide feedback to other developers.</li>      
              </ul>
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-header">
              <h3 class="mb-0">VIL Private Limited, Bareilly, UP</h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">Executive Information Management</h5>
              <p class="card-text">April 2018 - July 2021</p>
              <ul>
                <li>Collaborate with other departments and stakeholders to identify and prioritize data management needs and to gather requirements for data management solutions.</li>
                <li>Work with IT and other teams to design and implement data management systems and tools using Python programming language that support the organization's business needs.</li>
                <li>Use Python to extract data from various sources into the organization's data management systems.</li>
                <li>Monitor and analyze data using Python libraries such as Pandas and Openpyxl to identify trends and patterns and to ensure the data is being used effectively.</li>
                <li>Develop and maintain automation reporting tools using Python, Pandas, and smtplib to automate data analysis and report generation.</li>      
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="sticky-top">
          <span><strong>Location:</strong> Noida Sector 44, UP, Pin 201301</span>
          <span><strong>Mobile:</strong> 7078881115</span>
          <span style="display: block;"><strong>Email:</strong> amolbajpai10@gmail.com</span>
          <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/amol-bajpai-b7466222a/">Amol Bajpai</a></p>
  
          <h2>Skills</h2>
          <ul>
            <li>Python, OOPs</li>
            <li>MySQL</li>
            <li>AWS</li>
            <li>Django, JavaScript</li>
            <li>HTML, CSS</li>
            <li>JQuery, Pandas</li>
            <li>Numpy, Matplotlib</li>
            <li>Openpyxl, API</li>
            <li>Regular Expression</li>
            <li>Git, SVN, Jira</li>
            <li>Agile Methodology</li>
            <li>Data Structure and Algorithms</li>
          </ul>

          <h2>Education</h2>
          <p><strong>MCA</strong></p>
          <p>June 2014</p>

          <h2>Certifications</h2>
          <ul>
            <li>IBM Certification</li>
            <li>Python for Data Science course</li>
            <li>Data Analysis with Python</li>
            <li>Machine Learning with Python</li>
          </ul>
        </div>
      </div>
      <!-- <a href="resume.pdf" download class="btn btn-primary mt-3">Download Resume</a> -->
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
